- content_for :page_title do
  = t('about.see_whats_happening')

- content_for :header_tags do
  %meta{ name: 'robots', content: 'noindex' }/
  %script#initial-state{ type: 'application/json' }!= json_escape(@initial_state_json)
  = javascript_pack_tag 'about', integrity: true, crossorigin: 'anonymous'

.page-header
  %h1= t('about.see_whats_happening')
  %p= t('about.browse_public_posts')

#civiqsocial-timeline{ data: { props: Oj.dump(default_props) }}
#modal-container
