// NEW CIVIQ SPECIFIC MIXINS

// THEME MIXINS

// standard container drop shadow
@mixin light-theme-shadow() {box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);}

// common properties for all standard containers
@mixin civiq-container-standards() {
	border-radius: 10px;
	background: $civiq-background-container;
	body.theme-civiqsocial-light & {
		@include light-theme-shadow();
		background: $civiq-background-container-light;
	}
}

// SHORTCUTS
@mixin input-placeholder($color) {
	&::-webkit-input-placeholder {color: $color;}
	&::-moz-placeholder {color: $color;}
	&:-ms-input-placeholder {color: $color;}
	&:-moz-placeholder {color: $color;}
}

// OLDER MIXINS
@mixin avatar-radius() {
  border-radius: 50%;
  background: transparent no-repeat;
  background-position: 50%;
  background-clip: padding-box;
}

@mixin avatar-size($size:48px) {
	width: $size;
	height: $size;
	background-size: $size $size;
}

@mixin search-input() {
	outline: 0;
	box-sizing: border-box;
	width: 100%;
	border: 1px $civiq-placeholder-accent solid;
	box-shadow: none;
	font-family: inherit;
	background: $civiq-background-container;
	color: $civiq-text-highlight;
	@include font-size(16);
	@include line-height(19);
	margin: 0;
	border-radius: 4px;

	// Chrome does not like these concatinated together
	&::placeholder {color: $civiq-placeholder-accent;}
	&:-ms-input-placeholder {color: $civiq-placeholder-accent;}
	&::-ms-input-placeholder{color: $civiq-placeholder-accent;}

	&::-moz-focus-inner {
		border: 0;
	}
	&::-moz-focus-inner,
	&:focus,
	&:active {
		outline: 0 !important;
	}
}

@mixin search-popout() {
	background: $civiq-background-container;
	border-radius: 4px;
	border: 1px solid $civiq-placeholder-accent;
	padding: 8px 10px 17px 10px;
	margin: 4px 0 0 0;
	@include font-size(12);
	@include line-height(14);
	@include font-weight(normal);
	color: $civiq-secondary-text;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
	h4 {
		color: #fff;
		@include font-size(14);
		@include line-height(16);
		@include font-weight(bold);
	}
	ul {
		margin: 6px 0 6px;
		li {
			margin: 0 0 2px 0;
			em {color: $civiq-text-highlight;}
		}
	}
}
