// A lot of this stuff is temporary for now.
// Content containers are meant to behave much differently than the mastodon default UI
// For now linking default civiq colors to replace the base UI colors and formulas

html {scrollbar-color: lighten($civiq-background-container, 4%) $civiq-background-container;}
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-thumb {
	border: none;
	background: rgba($civiq-placeholder-accent, .5);
	@at-root body.theme-civiqsocial-light#{&} {background: rgba($civiq-background-container-light, .3);}
}
::-webkit-scrollbar-thumb:hover {
	background: rgba($civiq-placeholder-accent, .75);
	@at-root body.theme-civiqsocial-light#{&} {background: rgba($civiq-background-container-light, .4);}
}
::-webkit-scrollbar-thumb:active {
	background: $civiq-placeholder-accent;
	@at-root body.theme-civiqsocial-light#{&} {background: rgba($civiq-background-container-light, .5);}
}
::-webkit-scrollbar-track {
	border: none;
	background: rgba($civiq-background-container, .5);
	@at-root body.theme-civiqsocial-light#{&} {background: rgba($civiq-background-base, .3);}
}
::-webkit-scrollbar-track:hover {
	background: rgba($civiq-background-container, .75);
	@at-root body.theme-civiqsocial-light#{&} {background: rgba($civiq-background-base, .4);}
}
::-webkit-scrollbar-track:active {
	background: $civiq-background-container;
	@at-root body.theme-civiqsocial-light#{&} {background: rgba($civiq-background-base, .5);}
}
::-webkit-scrollbar-corner {background: transparent;}