- content_for :page_title do
  = t('settings.notifications')

= simple_form_for current_user, url: settings_notifications_path, html: { method: :put } do |f|
  = render 'shared/error_messages', object: current_user

  .fields-group
    = f.simple_fields_for :notification_emails, hash_to_object(current_user.settings.notification_emails) do |ff|
      = ff.input :follow, as: :boolean, wrapper: :with_label
      = ff.input :follow_request, as: :boolean, wrapper: :with_label
      = ff.input :reblog, as: :boolean, wrapper: :with_label
      = ff.input :favourite, as: :boolean, wrapper: :with_label
      = ff.input :mention, as: :boolean, wrapper: :with_label
      = ff.input :emails_from_civiqcom, as: :boolean, wrapper: :with_label

      - if current_user.staff?
        = ff.input :report, as: :boolean, wrapper: :with_label
        = ff.input :pending_account, as: :boolean, wrapper: :with_label

  .fields-group
    = f.simple_fields_for :notification_emails, hash_to_object(current_user.settings.notification_emails) do |ff|
      = ff.input :digest, as: :boolean, wrapper: :with_label

  .fields-group
    = f.simple_fields_for :interactions, hash_to_object(current_user.settings.interactions) do |ff|
      = ff.input :must_be_follower, as: :boolean, wrapper: :with_label
      = ff.input :must_be_following, as: :boolean, wrapper: :with_label
      = ff.input :must_be_following_dm, as: :boolean, wrapper: :with_label

  .actions
    = f.button :button, t('generic.save_changes'), type: :submit
