.group-column-header {
    overflow: hidden;
    @include civiq-container-standards();
    .group-column-header__title {
        padding: 15px;
        font-size: 20px;
        font-weight: bold;
    }
    .group-column-header__cta {
        float: right;
        padding: 15px;
        font-size: 17px;
        a {color: #fff;}
    }
}

.group-card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.group-card {
    display: block;
    flex: 0 0 calc(50% - 20px/2);
    @include civiq-container-standards();
    margin-bottom: 20px;
    text-decoration: none;
    overflow: hidden;

    .group-card__header {
        overflow: hidden;

        img {
            pointer-events: none;
            width: 100%;
            background: $civiq-background-container;
            body.theme-civiqsocial-light & {
          		background: $civiq-background-container-light;
          	}
        }
    }

    .group-card__content {
        padding: 15px;

        .group-card__title {
            color: $primary-text-color;
            font-size: 16px;
            font-weight: bold;
        }

        .group-card__meta {
            color: $civiq-secondary-text;
            font-size: 14px;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        .group-card__description {
            color: $primary-text-color;
            font-size: 14px;
        }
    }

    &:hover {
        .group-card__title {
            text-decoration: underline;
        }
    }
}
