input[type='text'],
textarea {
	&.standard {
		box-sizing: border-box;
		padding: 7px 10px;
		border: 1px solid;
		border-radius: 4px;
		@include font-size(16);
		@include line-height(18);
		color: $civiq-brand-default;
		border-color: $civiq-placeholder-accent;
		background: $civiq-background-container;
		@include input-placeholder($civiq-placeholder-accent);
		body.theme-civiqsocial-light & {
			color: $civiq-placeholder-accent;
			border-color: $civiq-secondary-text;
			background: $civiq-background-base-light;	
			@include input-placeholder($civiq-secondary-text);
		}
		&:focus {outline: none;}
	}
}
textarea.standard {resize: vertical;}