.newsfeed-column-header {
  overflow: hidden;
  @include civiq-container-standards();
  .group-column-header__title {
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
  }
  .group-column-header__cta {
    float: right;
    padding: 15px;
    font-size: 17px;
    a {color: #fff;}
  }
}
