%tr
  %td
    = news_source.feed
  %td
    = news_source.news_category.name

  %td
    - if news_source.active? && policy(:news_source).deactivate?
      = table_link_to 'deactivate', 'Deactivate', admin_news_source_deactivate_path(news_source), method: :post
    -else
      = table_link_to 'activate', 'Activate', admin_news_source_activate_path(news_source), method: :post
  %td
    = news_source.format
  %td
    = table_link_to 'news', t('admin.relays.delete'), admin_news_source_path(news_source), method: :delete, data: { confirm: 'Are you sure' }

