- content_for :page_title do
  = t('newsfeeds.add_news_source')

- content_for :header_tags do
  = javascript_pack_tag 'admin', integrity: true, async: true, crossorigin: 'anonymous'


= simple_form_for @news_source, url: admin_news_sources_path do |f|
  = render 'shared/error_messages', object: @news_source

  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :feed, wrapper: :with_label, label: t('newsfeeds.news_source_feeds'), required: true
  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :news_category_id, wrapper: :with_label, collection:@categories, label: t('newsfeeds.news_source_category'), required: true
  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :status, wrapper:   :with_label, collection: @statuses, label: t('newsfeeds.news_source_status'), required: true
  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :format, wrapper: :with_label, collection: @formats, label: t('newsfeeds.news_source_format'), required: true

  .actions
    = f.button :button, t('.create'), type: :submit

