= render 'tags/meta', tag: @tag, initial_state_json: @initial_state_json

.page-header
  %h1= "##{@tag.name}"
  %p= t('about.about_hashtag_html', hashtag: @tag.name)

#civiqsocial-timeline{ data: { props: Oj.dump(default_props.merge(hashtag: @tag.name)) }}
#modal-container
