- content_for :page_title do
  = site_hostname

- content_for :header_tags do
  = javascript_pack_tag 'public', integrity: true, crossorigin: 'anonymous'
  = render partial: 'shared/og'

.content
  .box-widget
    .rich-formatting= @instance_presenter.site_extended_description.html_safe.presence || t('about.extended_description_html')

  %br

  .box-widget
    .rich-formatting
      %h3 Free and Open Source
      %p We believe that the future of internet platforms and publishing is decentralized, federated, and open. We believe that users of social platforms and networks  should be able to control their social media experience on their own terms, rather than the terms set by the platform.
      %p civiq offers a fresh approach to one of the internet's most popular applications: social networking. Originally forked from the Mastodon project, and later from Civiq, civiq'a codebase is free and open-source, licensed under the GNU Affero General Public License version 3 (AGPL3).
      %p As a result, the user is in control and has choice: you can either have an account on civiq, or, if you don't agree with our policies or stewardship on civiq or simply want to control and manage your own experience, you can host and maintain up your Social server that you control, that allows you to communicate and interact with millions of users, from around the world on federated servers, including users on civiq.
      %p civiq connects people so that they may share and discover what is happening in real time - anytime and anywhere. We encourage you to join us on civiq.social or to host and maintain your own Mastodon based social server that you control to help take back control of the Web for the People.
      = link_to "https://docs.joinmastodon.org/administration/installation/", "https://docs.joinmastodon.org/administration/installation/"
