- content_for :page_title do
  = site_hostname

- content_for :header_tags do
  %link{ rel: 'canonical', href: about_url }/
  = render partial: 'shared/og'

.landing
  .landing-columns
    .landing-columns--left
      .landing__brand
        = link_to root_url, class: 'brand' do
          = image_pack_tag 'civiq-logo.svg', alt: 'civiq Social'
        %span.brand__tagline=t 'about.tagline'
        %span.brand__tagline=t 'about.tagline2'
        %span.brand__tagline=t 'about.tagline3'

    .landing-columns--right
      .box-widget
        = render 'registration'

